<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <h4 class="text-center mt-5">About Me</h4>
  <hr />

  <div class="details">
    <div class="row d-flex justify-content-center align-items-center" style="margin-top: 100px;">
      <div class="col-xl-6 col-12 information">
        <p class="fw-bolder">I am a Professional UI/UX Designer and Web developer. Consectetur an adipisi elita, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud.</p>
        <p class="text-muted">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspi unde omnis iste natus error sit voluptatem accusantium doloremque lauda ntium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam vo luptatem quia voluptas sit aspernatur aut odit aut fugit,</p>
        <hr />
        <div class="row">
          <div class="col-4">
            <p class="fw-semibold mb-0">Phone</p>
            <p class="text-muted">123-456-789</p>
          </div>
          <div class="col-4">
            <p class="fw-semibold mb-0">Email</p>
            <p class="text-muted">123-456-789</p>
          </div>
          <div class="col-4">
            <p class="fw-semibold mb-0">Website</p>
            <p class="text-muted">123-456-789</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="image-wrapper w-100 shadow border">
          <img width="100%" style="max-height: 600px;" src="/about.png" />
        </div>
      </div>
    </div>
  </div>
</div>
