<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
  <h4 class="text-center mt-5">About Me</h4>
  <hr />

  <div class="details">
    <div class="row d-flex justify-content-center align-items-center" style="margin-top: 100px;">
      <div class="col-xl-6 col-12 information">
        <p class="fw-bolder">I am a Professional Web developer.</p>
        <p class="text-muted">A passionate developer with a hunger for learning and
          a drive to explore everything the field has to offer. I
          thrive on mastering new technologies, tackling
          complex problems, and expanding my skills every step of the way. My goal is to grow as a developer while delivering innovative and efficient solutions.
          </p>
        <hr />
        <div class="row">
          <div class="col-4">
            <p class="fw-semibold mb-0">Phone</p>
            <p class="text-muted">123-456-789</p>
          </div>
          <div class="col-4">
            <p class="fw-semibold mb-0">Email</p>
            <p class="text-muted">{{ 'k.ivanova@gmail.com' }}</p>
          </div>
          <div class="col-4">
            <p class="fw-semibold mb-0">Website</p>
            <p class="text-muted">kameliya-ivanova</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-6">
        <div class="image-wrapper w-100 shadow border">
          <img width="100%" style="max-height: 600px;" src="/about.png" />
        </div>
      </div>
    </div>
  </div>
</div>
