<div class="container">
  <div class="header d-flex justify-content-between my-4">
    <h3 class="align-self-end">Users</h3>
    @if (hasCreatePermission) {
      <button type="button" class="btn btn-outline-secondary" routerLink="/users/add">Add New</button>
    }
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">CreatedAt</th>
        <th scope="col">Role</th>
        @if (hasDeletePermission || hasUpdatePermission) {
          <th scope="col">Actions</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.createdAt | date:'medium' }}</td>
          <td>{{ user.role.name }}</td>
          @if (hasUpdatePermission || hasDeletePermission) {
            <td>
              <div class="actions">
                @if (hasUpdatePermission) {
                  <i routerLink="/users/{{user.id}}" class="bi bi-pencil"></i>
                }
                @if (hasDeletePermission) {
                  <i (click)="deleteUser(user.id!)" class="bi bi-trash ms-2"></i>
                }
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
  <app-page-nav [page]="page" (pageChangedEvent)="getPage($event)"></app-page-nav>
</div>
