<div class="container">
  <div class="position-relative my-4">
    <span class="leftArrow fs-5" (click)="swipeLeft()"><i class="bi bi-caret-left position-absolute top-0 start-0"></i></span>
    <div class="categories mx-4">
      @for (category of categories; track $index) {
        <a [routerLink]="'/'" [queryParams]="{ categoryId: category.id }">
          <span class="category badge rounded-pill text-bg-secondary me-2 p-2">{{ category.title }}</span>
        </a>
      }
    </div>
    <span class="rightArrow fs-5" (click)="swipeRight()"><i class="bi bi-caret-right position-absolute top-0 end-0"></i></span>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2><i class="bi bi-tags text-secondary"></i> {{ selectedCategory.title }}</h2>
    <!-- <input type="text" class="search form-control" [placeholder]="'Search in ' + selectedCategory.title + '...'"> -->
  </div>
  <div class="row justify-content-center justify-content-lg-start">
    @for (post of posts; track $index) {
      <div class="col-12 col-md-10 col-lg-6 col-xxl-4 mb-2">
          <div class="card mb-3">
            <img [src]="post.logo" class="card-img-top post-logo" alt="...">
            <div class="card-body">
              <a class="card-title-link text-dark" [routerLink]="'/p/' + post.id"><h5 class="card-title">{{ post.title }}</h5></a>
              <p class="description card-text mt-3">{{ post.description }}</p>
              <div class="post-details d-flex align-items-center mb-3">
                <span class="author fw-bold" placement="top" ngbTooltip="Authored by"><small>{{ post.author }}</small></span>
                <span class="delimiter"></span>
                <span class="createdAt" placement="top" ngbTooltip="Created At"><small>{{ post.createdAt!*1000 | date:'medium' }}</small></span>
              </div>
              <div class="post-categories">
                @for (category of post.categories; track $index) {
                  <a [routerLink]="'/'" [queryParams]="{ categoryId: category.id }">
                    <span class="category badge rounded-pill text-bg-secondary me-2 p-2">{{ category.title }}</span>
                  </a>
                }
              </div>
            </div>
          </div>
      </div>
    }
  </div>
  <hr />
  <app-page-nav [page]="page" (pageChangedEvent)="getPage($event)"></app-page-nav>
</div>
